ul {
  padding: 0;
}

li.trait {
  list-style: none;
}

.trait-field {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.trait-field label {
  flex-grow: 1;
  margin-right: 1em;
}

.trait-field select {
  margin-right: 1em;
  max-width: 5em;
}

.trait-field input {
  display: inline-block;
  max-width: 3em;
}

